.Graph-Container {
    width: 75%; 
    max-width: 600px; 
    height: 500px; 
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    left:.5em;
    top:5em;
}
@media (max-width: 600px){
    .Graph-Container{ position: relative; margin-top: 0;}
}
.graph{
    border: 3px solid palevioletred;
    border-radius: 5px; 
}