.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: default;
}
h1 {
    text-align: center;
    color: darkviolet;
}
.point-calc-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="checkbox"] {
    margin-top: 5px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result h2 {
    color: #333;
}

.result h1 {
    font-size: 2em;
    color: #007BFF;
}
